.collapseContainer{
    background-color: #fff;
    cursor: pointer;
    border-bottom: 2px solid #e0e0e0;
}

.txt_title{
    font-size: var(--f-sz-name);
    font-weight: 600;
    max-width: 80%;
}



@media screen and (width <= 800px) {
    .d-none{
        display: none !important;
    }
    .txt_title{
        font-size: 1.4rem;
    }
    .text_mobile{
        font-size: 1.1rem;
    }
}


@media screen and (width > 1200px) {
    .title_course{
        margin-bottom: 8px;
    }
}
